@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=MuseoModerno:wght@400;700&display=swap');

.h1__create {
  color: #FE7F3C;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;

  background-size: 25rem;
  margin: 1rem auto;
  flex-direction: column;
  max-width: 600px;
  padding: 15px;
  max-height: 70p;
  font-family: 'Montserrat', sans-serif;
}

.button__submit {

  background: #fff;
  /* color de fondo */
  color: #FE7F3C;
  /* color de fuente */
  border: 2px solid #FE7F3C;
  /* tamaño y color de borde */
  border-radius: 50px;
  padding: 16px 40px;
  border-radius: 3px;
  /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* margin-left: 40%; */
  cursor: pointer;
  display: block;
  margin: 0px auto;
  font-family: 'Montserrat', sans-serif;
}

.button__submit:hover {
  color: #fff;
  /* color de fuente hover */
}

.button__submit::after {
  content: "";
  background: #FE7F3C;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.button__submit:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.input__all input {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: medium;
  width: 80%;
  box-sizing: border-box;
  border-color: transparent;
  background-color: #fff;
}
input::placeholder {
  color: #353636;
  font-family: 'Montserrat', sans-serif;
}
.input__all  input:focus {
  border-left: none;
  border-top:none ;
  border-right: none;
  border-bottom: 1px solid #08caec;
  outline: none;
  
}

.input__all {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(248, 248, 242);
  margin: 1rem auto;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  background-size: 25rem;
  max-width: 600px;
  box-shadow: 0 4px 20px rgb(37, 37, 36);
  display: flex;
  flex-direction: column;
}

.input {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.input input:hover {
  background-color: aliceblue;
}

.select {
  background-color: rgb(248, 248, 242);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.select select {
  font-size: medium;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
}

.put__off {
  background-color: transparent;
  border: #FE7F3C;
  margin-top: 10px;
}

.put__off:hover {
  border: red;
  cursor: not-allowed;
}

.textarea {
  max-width: 90%;
  border-color: transparent;
}
.textarea::placeholder {
  text-align: center;
  margin-top: 20px;
  color: #353636;
  font-family: 'Montserrat', sans-serif;
}
.textarea:focus {
  border-left: none;
  border-top:none ;
  border-right: none;
  border-bottom: 1px solid #08caec;
  border-radius: 5px;
  outline: none;
}

.input__all p {
  color: red;
  font-family: 'Montserrat', sans-serif
}

.select__Pla__ge {
  width: 170px;
  height: 50px;
  border-radius: 10px;
  border-color: transparent;
}
.select__Pla__ge:focus{
  border: 1px solid  #08caec;
}
@media (max-width: 600px) {
  .h1__create {
    color: #FE7F3C;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
  }
}