@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

.header__title {
  color: #FE7F3C;
  font-family: 'MuseoModerno', cursive;
  font-size: xx-large;

}

.container {
  margin: 3% 6%;
}


.navbar--section__container a {
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  color: #303435;
}

.container__info p{
  margin-left: 20px;
  background-color: aqua;
}
.navbar--section__container a:hover,
.navbar--section__container a:focus {
  background-size: 100% 2px;
  color: #FE7F3C;
}

.navbar--section__container {
  display: flex;
  justify-content: space-around;
}


.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar--section {
  width: -webkit-fill-available;
  max-width: 40%;
  padding-right: 50px;
  margin-right: 25%;
  margin-top: 20px;
}

@media (max-width: 600px) {

  .header__title {
    color: #FE7F3C;
    font-family: 'MuseoModerno', cursive;
    font-size: larger;
    margin-top: 12px;
  }

  .container {
    margin: 3% 6%;
  }


  .navbar--section__container a {
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #303435;
  }


  .navbar--section__container a:hover,
  .navbar--section__container a:focus {
    background-size: 100% 2px;
    color: #FE7F3C;
  }

  .navbar--section__container {
    display: flex;
    justify-content: space-around;
  }

  
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar--section {
    width: -webkit-fill-available;
    max-width: 40%;
    padding-right: 50px;
    margin-right: 10%;
    margin-top: 20px;
  }
  .navbar--section li {
   margin-right: 10px;
   margin-left: 10px;
  }
}