@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

.header__title {
  color: #FE7F3C;
  font-family: 'MuseoModerno', cursive;
  font-weight: 400;
  padding-left: 50px;
  margin-top: 35px;
}

.navBar {
  display: flex;
}
.list{
  list-style: none;
  display: flex; 
}
.list button {
  color: #FE7F3C;
  border: #FE7F3C;
  font-family:  'MuseoModerno', cursive;
  cursor: pointer;
  background-color: transparent;
  margin-top: 43px;
  font-size: 25px;
  font-weight: 400;
  padding-left: 370px;

}

