

.input__search{
  border: 0;
  height: 30px;
  border-radius: 15px;
  outline: none;
  padding: 10px;
}

.buttom__search {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #FE7F3C;
  border-radius: 30px;
  border: 0;
  margin-left: -30px;
  padding : 5px 5px;
}

.Search {
  margin: 0 20px;
}

