@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=MuseoModerno:wght@400;700&display=swap');

.button__into {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 200px;
}

.slogan {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #303435;
  width: 500px;
  margin-top: 50px;
  padding-left: 50px;
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #303435;
  margin-top: 30px;
  padding-left: 50px;
}

.landing {
  display: flex;
  height: 500px;

}


