.list__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  
}

.list__cards a{
  background-color: aliceblue;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgb(211, 205, 205);
  max-width: 400px;
  max-height: 400px;
}
.home {
  height: 200%;
}
.barras{
  display: flex;
  justify-content: center;
  margin: 15px ;
}

.loading{
  text-align: center;
}

