.list__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  color: black;
}

.list__cards a{
  background-color: aliceblue;
  border-radius: 30px;
}
.home {
  height: 100%;
}
.filter{
  font-size: larger;
  margin-left: 20px;
}
.barras{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.loading{
  text-align: center;
}