
.paginado{
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;

}
.paginado :focus{
  background-color: rgb(255, 255, 255) 
}
.paginado button{
  width: 70px;
  padding-top: 5px;
  cursor: pointer;
  background-color:  #FE7F3C;
  border-radius: 5px;
  border: 0;
  margin-left: 5px;
  padding-bottom: 5px;
}
.paginado button:hover{
  background-color: rgb(255, 255, 255);
}

