@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.paginado {
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

/* .paginado:focus {
  background-color: #FE7F3C;
  border-color: transparent;
  color: rgb(255, 255, 255);
} */

.number {
  padding-top: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-width: 3px;
  border-style: solid;
  appearance: none; 
  background-color: transparent;
  border-color: #FE7F3C;
  margin-left: 5px;
  padding-bottom: 5px;
  color: #FE7F3C;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.number:hover {
  background-color: #FE7F3C;
  border-color: transparent;
  color: rgb(255, 255, 255);
}

