
.paginado{
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;

}
.paginado :focus{
  background-color: antiquewhite; 
}
.paginado button{
  width: 70px;
  padding-top: 10px;
  cursor: pointer;
  background-color: rgb(255, 81, 0);
  border-radius: 5px;
  border: 0;
  margin-left: 5px;
}

