@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=MuseoModerno:wght@400;700&display=swap');

.n .loading {
  display: block;
  margin: 0px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.name {
  font-family: 'Montserrat', sans-serif;
  margin-left: 10%;
  margin-bottom: 20px;
}

.img {
  object-fit: cover;
  height: 300px;
  border-radius: 10px;
  width: 500px;
  margin-left: 5%;
  margin: 10px 0 15px 60px;
}

.container__info {
  display: grid;
}

.fecha .info {
  margin-left: 5%;
  margin: 10px 20px 15px 60px;
}

.description__p {
  font-family: 'Montserrat', sans-serif;
}

.description__text {
  font-family: 'Montserrat', sans-serif;
  margin-left: 100px;
  text-align: justify;
  margin-bottom: 40px;
}

.rating {
  font-family: 'Montserrat', sans-serif;
  color: #FE7F3C;
}

.lanzamiento {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2px;
}

.genres {
  font-family: 'Montserrat', sans-serif;
}

select,
ul {
  list-style: none
}

.platforms {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
  .n .loading {
    display: block;
    margin: 0px auto;
  }

  .name {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  .img {
    object-fit: cover;
    height: 200px;
    border-radius: 10px;
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }


  .fecha .info {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  .description__p {
    font-family: 'Montserrat', sans-serif;
  }

  .description__text {
    display: none;
  }

  .rating {
    font-family: 'Montserrat', sans-serif;
    color: #FE7F3C;
  }

  .lanzamiento {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2px;
  }

  .genres {
    font-family: 'Montserrat', sans-serif;
  }

  select,
  ul {
    list-style: none
  }

  .platforms {
    font-family: 'Montserrat', sans-serif;
  }
}
