@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=MuseoModerno:wght@400;700&display=swap');

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.name {
  font-family: 'Montserrat', sans-serif;
  margin-left: 10%;
}

.img {
  height: 300px;
  border-radius: 10px;
  width: 400px;
  margin-left: 5%;
  margin: 15px 0 15px  80px;

}

.container__info {
  display: grid;
  
}

.fecha{
  margin-left: 20px;
  margin-right: 20px;
}
.description__p {
  font-family: 'Montserrat', sans-serif;
  /* padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  text-align: center; */
  
}

.description__text {
  font-family: 'Montserrat', sans-serif;
  /* padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px; */
  margin-right: 100px;
  text-align: justify;
}

.rating {
  font-family: 'Montserrat', sans-serif;
  /* padding-top: 20px;
  text-align: center; */
}
.lanzamiento {
  font-family: 'Montserrat', sans-serif;
  /* padding-top: 20px;
  text-align: center; */
  margin-top: 2px;
 
}

.genres {
  font-family: 'Montserrat', sans-serif;
  /* padding-top: 20px;
  text-align: center; */

}

select,
ul {
  list-style: none
}

.platforms {
  font-family: 'Montserrat', sans-serif;
  /* padding-top: 20px;
  text-align: center;
  padding-bottom: 20px; */
}

@media (max-width: 600px) {
  .name {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .img {
    height: 300px;
    border-radius: 10px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .description__p {
    font-family: 'Montserrat', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    text-align: center;
  }
  
  .description__text {
    font-family: 'Montserrat', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
  }
  
  .rating {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    text-align: center;
  }
  
  .lanzamiento {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    text-align: center;
  }
  
  .genres {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    text-align: center;
  
  }
  
  select,
  ul {
    list-style: none
  }
  
  .platforms {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
  }
}